
<style type="text/css">
  #footer.dark, .dark #footer {
      background-color: #333;
      color: #CCC;
      border-top-color: rgba(0,0,0,0.2);
      position: absolute;
      z-index: 3;
      width: 100%;
  }
</style>
<!-- Footer
============================================= -->
<footer id="footer" class="dark">

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix" style="margin-bottom: 20px;">

      <div class="col-md-5" style="padding-left: 0px;">
        <a class="myfooter" href="mailto: erica@artfulstarlingwebsites.com"><i class="icon-envelope2"></i> erica@artfulstarlingwebsites.com</a>  &nbsp;&nbsp;&nbsp;  |
        <a class="myfooter" href="tel:"><span class="middot"></span> <i class="icon-phone3"></i> (503) 432-1718 </a>
      </div>

      <div class="col-md-2">

        <div class="fleft clearfix" style="margin-top: 10px;">

          <a href="https://twitter.com/ELauerVose" class="social-icon si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://github.com/elauervose" class="social-icon si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/elauervose/" class="social-icon si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <p style="font-size: 12px; margin-top: 20px; margin-bottom: 0px;">Copyrights © 2014 All Rights Reserved by Artful Starling Websites</p>
      </div>

    </div>
   <!--  <div class="container clearfix">
      <div class="col-md-12 tright">
        Copyrights © 2014 All Rights Reserved by Artful Starling Websites<br>
        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
      </div>
    </div> -->

  </div>

</footer><!-- #footer end -->

