
<!--
 your website should work for you.
 your message, your style, your voice
 your business
  -->


<section id="slider" class="slider-parallax swiper_wrapper full-screen clearfix">

  <div class="slider-parallax-inner">
    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide tright" style="background-image: url('/img/header.jpg'); background-position: center top;">
          <div class="slider-overlay"></div>
          <div class="container clearfix visible-md visible-lg">
            <div class="slider-caption slider-caption-right dark">
              <h2 class="slider-caption-line1 tleft" data-caption-animate="fadeInDown">Your website</h2>
              <h2 class="slider-caption-line2" data-caption-animate="fadeInUp" data-caption-delay="300">should work for you</h2>
              <h3 class="slider-caption-line3" data-caption-animate="fadeInUp" data-caption-delay="1500">Your <span>MESSAGE</span>, your <span>STYLE</span>, your <span>VOICE</span>.</h3>
              <h3 class="slider-caption-line4" data-caption-animate="fadeIn" data-caption-delay="2500">Your Business</h3>
            </div>
          </div>
          <div class="container clearfix visible-sm">
            <div class="slider-caption slider-caption-right dark">
              <h2 class="slider-caption-line1 tleft" data-caption-animate="fadeInDown" style="font-size: 1.75em;">Your website</h2>
              <h2 class="slider-caption-line2 tright" data-caption-animate="fadeInUp" data-caption-delay="300" style="font-size: 2.5em; text-transform: none;">should work for you</h2>
              <h3 class="slider-caption-line3 tleft" data-caption-animate="fadeInUp" data-caption-delay="1500" style="font-size: 2.5em; line-height: 1.5em;">Your <span>MESSAGE</span>, your <span>STYLE</span>, your <span>VOICE</span>.</h3>
              <h3 class="slider-caption-line4" data-caption-animate="fadeIn" data-caption-delay="2500">Your Business</h3>
            </div>
          </div>

          <div class="container clearfix visible-xs" style=" margin-left: 2em; margin-right: .5em; padding: 0px;">
            <div class="slider-caption slider-caption-right dark" style="margin-left: 15px;">
              <h2 class="slider-caption-line1 tleft" data-caption-animate="fadeInDown" style="font-size: 1em; margin-top: 2em; line-height: 1.5em;">Your website</h2>
              <h2 class="slider-caption-line2 tleft" data-caption-animate="fadeInUp" data-caption-delay="300" style="font-size: 0.75em; line-height: 2em;">should work for you</h2>
              <h3 class="slider-caption-line3 tleft" data-caption-animate="fadeIn" data-caption-delay="1500" style="font-size: .9em; line-height: 1.5em; margin-bottom: .5em;">Your <span>MESSAGE</span>, your <span>STYLE</span>, your <span>VOICE</span>.</h3>
              <h3 class="slider-caption-line4" data-caption-animate="fadeIn" data-caption-delay="2500" style="font-size: .75em; line-height: 1em; text-align: center;">Your Business</h3>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>


</section>